@keyframes iz_zoom_on_kf {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes iz_zoom_on_kf{
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes iz_zoom_off_kf {
  0% {opacity: 1;}
  100% {opacity: 0; visibility: hidden; }
}
@-webkit-keyframes iz_zoom_off_kf{
	0% {opacity:1;}
	100% {opacity:0; visibility: hidden;}
}
